<p>
  <strong>Title:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Date of Birth:</strong>
  <%= @user.date_of_birth %>
</p>
<p>
  <strong>About Me:</strong>
  <%= @user.description %>
</p>
